In [157]:
import numpy as np
np.random.seed(1)

In [227]:
names = np.genfromtxt('./names.txt',dtype='str',delimiter='\n')
numbers = np.genfromtxt('./phoneno.txt',dtype='str',delimiter='\n')
print(len(names))
Person = []
for i in range(len(names)):
    Person.append([i + 1,names[i],numbers[i],'a'])
Person = np.array(Person)
# print(Person)

500

In [228]:

Shifts = [['11:00','15:00'],['19:00','23:00']]

Salary = [60000,15000,40000,10000]

employee_ratio = 6 / 100
employees = int(Person.shape[0] * employee_ratio)
np.random.shuffle(Person)
empl = np.array(Person[:employees][:,0])
customers = np.array(Person[employees:])
Employee = np.array(empl).reshape((empl.shape[0],1))
es = []
for i in range(len(Employee)):
    es.append(Shifts[i % 2])
Employee = np.append(Employee,np.array(es),axis=1)
        
ch = lambda x : "0" + str(x) if(x < 10) else str(x)

In [229]:
ratios = [10,30,20,40] # manager waiter chef ( delivery person )
typ = ['Manager','Waiter','Chef','Delivery-Person']
r = [int((i / 100) * len(Employee)) for i in ratios]
salaries = []
types = []
for i in range(len(r)):
    for j in range(r[i]):
        salaries.append(Salary[i])
        types.append(typ[i])

salaries = np.array(salaries).reshape((len(Employee),1))
types = np.array(types).reshape((len(types),1))
Employee = np.append(Employee,np.array(salaries),axis=1)
Employee = np.append(Employee,np.array(types),axis=1)
for  i in range(1,4):
    r[i] = r[i] + r[i - 1]
Manager = Employee[:r[0]][:,0]
Waiter = Employee[(r[0] + 1):r[1]][:,0]
Chef = Employee[(r[1] + 1):r[2]][:,0]
Delivery_Person = Employee[(r[2] + 1):r[3]][:,0]
Manager = Manager.reshape((Manager.shape[0],1))
Waiter = Waiter.reshape((Waiter.shape[0],1))
Chef = Chef.reshape((Chef.shape[0],1))
Delivery_Person = Delivery_Person.reshape((Delivery_Person.shape[0],1))
chef_rank = ['Head Chef', 'Sous Chef', 'Station Chef', 'Pastry Chef']
cuisine = ['Italian','French','Mexican']
CR = []
Cus = []
for i in range(Chef.shape[0]):
    CR.append(np.random.choice(chef_rank))
    Cus.append(np.random.choice(cuisine))
CR = np.array(CR).reshape((len(Chef),1))
Cus = np.array(Cus).reshape((len(Chef),1))
Chef = np.append(Chef,CR,axis=1)
Chef = np.append(Chef,Cus,axis=1)
avail = [np.random.choice([True,False]) for  i in range(Chef.shape[0])]
avail = np.array(avail,dtype='bool').reshape((Chef.shape[0],1))
print(avail)
Chef = np.append(Chef,avail,axis=1)
print(Chef)

[[ True]
 [False]
 [ True]
 [False]
 [ True]]
[['440' 'Sous Chef' 'Italian' 'True']
 ['43' 'Sous Chef' 'Mexican' 'False']
 ['376' 'Head Chef' 'Italian' 'True']
 ['272' 'Head Chef' 'Mexican' 'False']
 ['58' 'Head Chef' 'Italian' 'True']]

In [230]:
Date = []
Days = ['Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Monday']
for i in range(31):
    Date.append([str(i + 1)+'-03-2022',Days[i % 7]])
Date = np.array(Date)
# print(Date)

In [231]:
ingr = set()
items = np.genfromtxt('./items.txt',dtype='str',delimiter='\n')
Item = []
Required = []
# print(items)
for i in range(len(items)):
    if(i % 3 == 0):
        Item.append(items[i].split('.')[1])   
    elif(i % 3 == 2):
        for j in items[i].split('|'):
            ingr.add(j)
ingr = np.array(list(ingr)).reshape((len(ingr)),1)
Ingredients = np.append((np.arange(len(ingr),dtype=int) + 1).reshape((len(ingr),1)),ingr,axis=1)
# print(Ingredients)
id_ingr = {}
for i in range(Ingredients.shape[0]):
    id_ingr[Ingredients[i][1]] = int(Ingredients[i][0])
# print(id_ingr)
for i in range(len(items)):
    if(i % 3 == 2):
        for j in items[i].split('|'):
            Required.append([int((i + 1) / 3),id_ingr[j],np.random.randint(1,5)])
Required = np.array(Required)
Item = np.array(Item).reshape((len(Item)),1)
types = ['Starter', 'Main-Course', 'Dessert', 'Beverage', 'Snack-Item']
Cost = []
Type = []
is_veg = []
avail = []
for i in range(Item.shape[0]):
    Cost.append(np.random.randint(200,400))
    Type.append(np.random.choice(types))
    is_veg.append(np.random.choice(['True','False']))
    avail.append(np.random.choice([True,False]))
Cost = np.array(Cost).reshape((len(Item)),1)
Type = np.array(Type).reshape((len(Item)),1)
is_veg = np.array(is_veg).reshape((len(Item)),1)
avail = np.array(avail).reshape((len(Item)),1)
Items = np.append(np.array(np.arange(len(Item)) + 1).reshape((len(Item)),1),Item,axis=1)
Items = np.append(Items,Cost,axis=1)
Items = np.append(Items,Type,axis=1)
Items = np.append(Items,is_veg,axis=1)
Items = np.append(Items,avail,axis=1)
# print(Chef)
Can_Cook = []
for i in range(Chef.shape[0]):
    r = np.arange(100) + 1
    np.random.shuffle(r)
    r = r[:np.random.randint(1,Items.shape[0] + 1)]
    for j in r:
        Can_Cook.append([int(Chef[i][0]),j])
Can_Cook = np.array(Can_Cook)
# print(Can_Cook)

# print(Items)

# print(Required)
# print(Ingredients)

In [232]:
area = np.genfromtxt('./add.txt',dtype='str',delimiter='\n')
area1 = [i.split(',') for i in area]
area1 = np.array(area1)
pincode = []
local = []
city = []
id = []
x = 1
for i in range(len(area1)):
    pincode.append(area1[i][-1])
    city.append(area1[i][-3])
    local1 = area1[i][:-3]
    local.append("".join(local1))
    id.append(x)
    x = x+1

# Area = np.append(np.append(np.array(local).reshape((len(area)),1),np.array(city).reshape((len(area),1)),axis=1),np.array(pincode).reshape((len(area),1)),axis=1)
id = np.array(id).reshape((len(id),1))
local = np.array(local).reshape((len(local),1))
city = np.array(city).reshape((len(city),1))
pincode = np.array(pincode).reshape((len(pincode),1))

Area = np.append(id,local,axis=1)
Area = np.append(Area,city,axis=1)
Area = np.append(Area,pincode,axis=1)
# print(Area)

<ipython-input-232-d7e8e69feb0c>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  area1 = np.array(area1)

In [276]:
Special_Items = []
for i in range(1,32):
    Special_Items.append(["2022-03-" + ch(i),np.random.randint(1,60)])
Special_Items = np.array(Special_Items)
# print(Special_Items)

In [234]:
#Delivery Person
avg_rat = [np.random.uniform(2.5,5) for i in range(Delivery_Person.shape[0])]
avail = [np.random.choice([True,False]) for i in range(Delivery_Person.shape[0])]
p_area = [np.random.randint(1,Area.shape[0] + 1) for i in range(Delivery_Person.shape[0])]

avg_rat = np.array(avg_rat).reshape((len(Delivery_Person),1))
avail = np.array(avail).reshape((len(Delivery_Person),1))
p_area = np.array(p_area).reshape((len(Delivery_Person),1))

Delivery_Person = np.append(Delivery_Person,avg_rat,axis=1)
Delivery_Person = np.append(Delivery_Person,avail,axis=1)
Delivery_Person = np.append(Delivery_Person,p_area,axis=1)

print(Delivery_Person)

[['71' '3.2843242592891086' 'True' '82']
 ['24' '3.450127862253038' 'False' '59']
 ['259' '3.2806020803137317' 'False' '19']
 ['449' '4.894053646542823' 'False' '29']
 ['164' '4.951493306447079' 'True' '46']
 ['464' '3.862645595245534' 'False' '56']
 ['314' '4.641445922997225' 'False' '15']
 ['487' '3.8641024384044176' 'False' '71']
 ['296' '3.2982948590432417' 'False' '77']
 ['364' '3.886635430869324' 'True' '66']
 ['394' '3.468475115903118' 'False' '18']]

In [235]:
#Tables 
no_of_tables = 15
Tables = []
for i in range(no_of_tables):
    Tables.append([i + 1,np.random.randint(1,12),None,np.random.choice([True,False])])
Tables = np.array(Tables)
# print(Tables)

In [236]:
#Customers
cust = []
# print(customers)
for i in customers:
    cust.append([i[0],np.random.randint(15,70),np.random.randint(5,20),np.random.randint(1,area.shape[0] + 1)])

Customers = np.array(cust,dtype=int)
# print(Customers)

In [237]:
#Order
Payment_Method = ['Cash','Card','UPI']
Order_mode = ['Online','In-person']
Status = ['Ordered','Prepared','Delivered','Completed']
Rating = [1,2,3,4,5,None]
Working_hours = [11,12,13,14,19,20,21,22]
num_orders = 1000
Order = []

for i in range(num_orders):
    Order.append([i + 1,np.random.randint(200,2001),np.random.choice(Payment_Method),np.random.choice(Order_mode),np.random.choice(Status),
    np.random.randint(1,Tables.shape[0] + 1),str(np.random.choice(Working_hours)) + ":" + ch(np.random.randint(60)),"2022-03-" + ch(np.random.randint(1,32)) ,np.random.choice(Rating)])
Order = np.array(Order)
cid = []
da = []
did = []
dr = []
for i in range(num_orders):
    x = np.random.randint(2)
    if(x == 0):
        cid.append(None)
        da.append(None)
        did.append(None)
        dr.append(None)
    else:
        cid.append(Customers[np.random.randint(Customers.shape[0])][0])
        da.append(Area[np.random.randint(Area.shape[0])][0])
        did.append(Delivery_Person[np.random.randint(Delivery_Person.shape[0])][0])
        dr.append(np.random.choice(Rating[:-1]))
cid = np.array(cid).reshape((len(cid),1))
da = np.array(da).reshape((len(cid),1))
did = np.array(did).reshape((len(cid),1))
dr = np.array(dr).reshape((len(cid),1))
Order = np.append(Order,cid,axis=1)
Order = np.append(Order,da,axis=1)
Order = np.append(Order,did,axis=1)
Order = np.append(Order,dr,axis=1)
# print(Order)

In [238]:
#Order_Items
Order_Items = []
for i in range(Order.shape[0]):
    r = np.arange(100) + 1
    np.random.shuffle(r)
    r = r[:np.random.randint(1,11)]
    # print(r)
    for j in r:
        Order_Items.append([int(Order[i][0]),j,np.random.randint(1,5)])
Order_Items = np.array(Order_Items)
# print(Order_Items)

In [239]:
Ingredients_purchased = []
Ingredients_used = []
for i in range(1,32):
    date = "2022-03-" + ch(i)
    r = np.arange(Ingredients.shape[0]) + 1
    np.random.shuffle(r)
    for j in r[:np.random.randint(10)]:
        Ingredients_purchased.append([date,j,np.random.randint(50,100)])
    np.random.shuffle(r)
    for j in r[:np.random.randint(10)]:
        Ingredients_used.append([date,j,np.random.randint(25,60)])
Ingredients_used = np.array(Ingredients_used)
Ingredients_purchased = np.array(Ingredients_purchased)
# print(Ingredients_used)

In [258]:
print(Items.shape)

f = open('./InsertData.sql','w+')

(100, 6)

In [259]:


for i in range(len(Area)):
    a = Area[i][0]
    b = Area[i][1]
    c = Area[i][2]
    d = Area[i][3]
    f.write("INSERT INTO area (area_id, locality, city,pincode) VALUES ({}, '{}', '{}',{});\n".format(a,b,c,d))

In [260]:
for i in range(len(Tables)):
    a = Tables[i][0]
    b = Tables[i][1]
    c = Tables[i][2]
    d = Tables[i][3]
    f.write("INSERT INTO table_ (table_id , capacity , position, availability ) VALUES ({},{},{},{});\n".format(int(a),b,c,d))

In [261]:
for i in range(len(Items)):
    a = Items[i][0]
    b = Items[i][1]
    c = Items[i][2]
    d = Items[i][3]
    e = Items[i][4]
    ff = Items[i][5]
    f.write("INSERT INTO item (item_id , item_name,category,cost,availability,is_veg) VALUES ({},'{}','{}',{},{},{});\n".format(int(a),b,d,c,e,ff))

In [262]:
for i in range(len(Ingredients)):
    a = Ingredients[i][0]
    b = Ingredients[i][1]
    f.write("INSERT INTO ingredient (ingredient_id, name) VALUES ({}, '{}');\n".format(int(a),b))

In [263]:
for i in range(len(Person)):
    a = Person[i][0]
    b = Person[i][1]
    c = Person[i][2]
    f.write("INSERT INTO person (id , name , phone_number) VALUES ({},'{}','{}');\n".format(int(a),b,c))

In [264]:
for i in range(len(Customers)):
    a = Customers[i][0]
    b = Customers[i][1]
    c = Customers[i][2]
    d = Customers[i][3]
    f.write("INSERT INTO customer (id , age , discount, default_address) VALUES ({},{},{},{});\n".format(int(a),b,c,d))
    # print("INSERT INTO customer (id , age , discount, default_address) VALUES ({},{},{},{});".format(a,b,c,d))

In [265]:
for i in range(len(Employee)):
    a = Employee[i][0]
    b = Employee[i][1]
    c = Employee[i][2]
    d = Employee[i][3]
    e = Employee[i][4]
    f.write("INSERT INTO employee (id ,shift_start_time, shift_end_time, employee_type, salary) VALUES ({},'{}','{}','{}',{});\n".format(int(a),b,c,e,d))

In [266]:
for i in range(len(Chef)):
    a = Chef[i][0]
    b = Chef[i][1]
    c = Chef[i][2]
    d = Chef[i][3]
    f.write("INSERT INTO chef (id ,cuisine, chef_rank, availability) VALUES ({},'{}','{}',{});\n".format(int(a),c,b,d))

In [267]:
for i in range(len(Delivery_Person)):
    a = Delivery_Person[i][0]
    b = Delivery_Person[i][1]
    c = Delivery_Person[i][3]
    d = Delivery_Person[i][2]
    f.write("INSERT INTO delivery_person (id ,average_rating, primary_area, availability) VALUES ({},{},{},{}) ;\n".format(int(a),b,c,d))
# print(Delivery_Person)

In [268]:
for i in range(len(Order)):
    a1 = Order[i][0]
    a2 = Order[i][1]
    a3 = Order[i][2]
    a4 = Order[i][3]
    a5= Order[i][4]
    a6= Order[i][5]
    a7= Order[i][6]
    a8 = Order[i][9]
    a9 = Order[i][10]
    a10 = Order[i][11]
    a11 = Order[i][12]
    a12 = Order[i][7]
    a13 = Order[i][8]
    f.write("INSERT INTO order_ (order_id ,total_cost,payment_method,order_mode,status,table_id,placing_time,customer_id,delivery_area,delivery_person_id,delivery_rating,order_date,order_rating) VALUES ({},{},'{}','{}','{}',{},'{}',{},{},{},{},'{}',{});\n".format(int(a1),a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13))


# print(Order)

In [269]:
for i in Can_Cook:
    f.write("INSERT INTO can_cook (chef_id, item_id) VALUES ({},{});\n".format(i[0],i[1]))

In [270]:
for i in Required:
    f.write("INSERT INTO required_ (item_id, ingredient_id, quantity) VALUES ({},{},{});\n".format(i[0],i[1],i[2]))

In [271]:
for i in Ingredients_purchased:
    f.write("INSERT INTO ingredients_purchased (date, ingredient_id, quantity) VALUES ('{}',{},{});\n".format(i[0],i[1],i[2]))

In [272]:
for i in Ingredients_used:
    f.write("INSERT INTO ingredients_used (date, ingredient_id, quantity) VALUES ('{}',{},{});\n".format(i[0],i[1],i[2]))

In [273]:
for i in Order_Items:
    f.write("INSERT INTO order_items (item_id, order_id, item_quantity) VALUES ({},{},{});\n".format(int(i[1]),i[0],i[2]))

In [277]:
for i in Special_Items:
    print("INSERT INTO special_items (date, item_id) VALUES ('{}',{});".format(i[0],i[1]))

INSERT INTO special_items (date, item_id) VALUES ('2022-03-01',59);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-02',13);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-03',51);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-04',41);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-05',59);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-06',38);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-07',22);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-08',28);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-09',10);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-10',10);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-11',58);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-12',28);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-13',40);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-14',30);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-15',59);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-16',7);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-17',7);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-18',54);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-19',38);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-20',30);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-21',12);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-22',43);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-23',31);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-24',6);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-25',3);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-26',55);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-27',18);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-28',52);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-29',2);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-30',4);
INSERT INTO special_items (date, item_id) VALUES ('2022-03-31',15);

In [275]:
f.close()

In [156]:
# print(Order[:,0])
print(Employee)

[['376' '11:00' '15:00' '60000' 'Manager']
 ['331' '19:00' '23:00' '60000' 'Manager']
 ['80' '11:00' '15:00' '60000' 'Manager']
 ['497' '19:00' '23:00' '15000' 'Waiter']
 ['279' '11:00' '15:00' '15000' 'Waiter']
 ['232' '19:00' '23:00' '15000' 'Waiter']
 ['8' '11:00' '15:00' '15000' 'Waiter']
 ['459' '19:00' '23:00' '15000' 'Waiter']
 ['460' '11:00' '15:00' '15000' 'Waiter']
 ['242' '19:00' '23:00' '15000' 'Waiter']
 ['340' '11:00' '15:00' '15000' 'Waiter']
 ['378' '19:00' '23:00' '15000' 'Waiter']
 ['346' '11:00' '15:00' '40000' 'Chef']
 ['335' '19:00' '23:00' '40000' 'Chef']
 ['76' '11:00' '15:00' '40000' 'Chef']
 ['298' '19:00' '23:00' '40000' 'Chef']
 ['138' '11:00' '15:00' '40000' 'Chef']
 ['35' '19:00' '23:00' '40000' 'Chef']
 ['458' '11:00' '15:00' '10000' 'Delivery_Person']
 ['229' '19:00' '23:00' '10000' 'Delivery_Person']
 ['343' '11:00' '15:00' '10000' 'Delivery_Person']
 ['73' '19:00' '23:00' '10000' 'Delivery_Person']
 ['309' '11:00' '15:00' '10000' 'Delivery_Person']
 ['264' '19:00' '23:00' '10000' 'Delivery_Person']
 ['207' '11:00' '15:00' '10000' 'Delivery_Person']
 ['19' '19:00' '23:00' '10000' 'Delivery_Person']
 ['469' '11:00' '15:00' '10000' 'Delivery_Person']
 ['105' '19:00' '23:00' '10000' 'Delivery_Person']
 ['9' '11:00' '15:00' '10000' 'Delivery_Person']
 ['433' '19:00' '23:00' '10000' 'Delivery_Person']]